#root{
    --primary: #0d6efd;
}
html,body,#root{
    height: 100%;
}

body{
    margin:0;
    padding:0;
    text-align:center;
    

}

.container-fluid{
    display:grid;
    grid-template-columns: repeat(auto-fit,150px);
    grid-auto-rows: 200px;
    gap: 20px;
    margin-bottom: 20px;
    
}

.gallery-item{
    width:100%;
    height:100%;
    position:relative;
    box-shadow: 0px 0px 10px  var(--primary);
}

.gallery-item .image{
    width:100%;
    height:100%;
    overflow:hidden;
}

.gallery-item .image img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position:50% 50%;
    cursor:pointer;
    transition:.5s ease-in-out;
}

.button-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .my-label {
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border-radius: .25rem;
    border: white 1px solid;
  }
  .my-label:hover{
   background-color: white;
   color: var(--primary);
   border: var(--primary) 1px solid;
  }
  #upload {
    opacity: 0;
    position: absolute;
    z-index: -1;
  }  
 



